In [181]:
import pandas as pd
import numpy as np

In [182]:
df = pd.read_csv('titanic.csv')

In [183]:
len(df)

891

In [184]:
list(df)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [185]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [186]:
df.drop(['Cabin','Embarked'], axis=1, inplace=True)
len(df)

891

In [187]:
df['Age'] = df['Age'].fillna(df['Age'].median())
len(df)

891

In [188]:
Fdf= df[['Pclass','Sex','Age','Fare']]
len(Fdf)

891

In [189]:
target= df[['Survived']]
len(target)

891

In [190]:
from sklearn.preprocessing import LabelEncoder
le_Sex=LabelEncoder()

In [191]:
Fdf['Sex_n'] = le_Sex.fit_transform(Fdf['Sex'])

C:\Users\rayan\AppData\Local\Temp\ipykernel_15836\4044103752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fdf['Sex_n'] = le_Sex.fit_transform(Fdf['Sex'])

In [192]:
Fdf

     Pclass     Sex   Age     Fare  Sex_n
0         3    male  22.0   7.2500      1
1         1  female  38.0  71.2833      0
2         3  female  26.0   7.9250      0
3         1  female  35.0  53.1000      0
4         3    male  35.0   8.0500      1
..      ...     ...   ...      ...    ...
886       2    male  27.0  13.0000      1
887       1  female  19.0  30.0000      0
888       3  female  28.0  23.4500      0
889       1    male  26.0  30.0000      1
890       3    male  32.0   7.7500      1

[891 rows x 5 columns]

In [193]:
final= Fdf.drop(['Sex'], axis=1)

In [194]:
final

     Pclass   Age     Fare  Sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3  28.0  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [195]:
from sklearn.model_selection import train_test_split

In [196]:
X_train, X_test, y_train, y_test= train_test_split(final,target, train_size=0.8)

In [197]:
from sklearn import tree

In [198]:
model=tree.DecisionTreeClassifier()

In [199]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [200]:
model.score(X_test,y_test)

0.7988826815642458